.development-pane-snippet {
  padding-top: 8px;
  padding-bottom: 8px;
  line-height: 18px;
  background-color: #181818;
  background-image: linear-gradient(to bottom, #000000 0, #000000 18px, transparent 18px, transparent 36px);
  background-size: 100% 36px;
  background-position: 0 8px;
}
