.navigation-pane-flag {
  @apply shadow-md size-[24px];

  border-radius: 8px;
  filter: saturate(.4);
  background-color: white;
  border: 2px solid white;
  color: #4d4d4d;
  line-height: 10px !important;
  font-size: 10px !important;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
