.navigation-pane-flag {
  @apply border;

  border-radius: 50%;
  filter: saturate(.6);
  background-color: #ddd;
  color: #4d4d4d;
  line-height: 14px !important;
  font-size: 12px !important;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}
