.map-wrapper {
  svg {
    filter: drop-shadow(0px 10px 5px #fafafa);

    path {
      fill: #f2f2f2;
      stroke: #d0d0d0;
      stroke-width: 2px;
      transition: 0.3s ease-in-out;
      vector-effect: non-scaling-stroke;

      &:hover {
        fill: #fafafadd !important;
      }
    }
  }

  #layer1 path {
    fill: transparent;
    pointer-events: none;
    stroke: #999;
    stroke-width: 1px;

    &:hover {
      fill: transparent !important;
    }
  }
}

.map-section {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;

  &.map-section--large {
    padding-bottom: 100px;
  }
}

.map-wrapper {
  container-type: inline-size;
}

.coat {
  img {
    height: 2.6rem;
    width: 2.6rem;
  }

  .coats-sm & img {
    // height: 1.6rem;
    // width: 1.6rem;
    // line-height: 1.6rem;
    // height: 3.2cqi;
    // width: 3.2cqi;
    // line-height: 1.6rem;
    // line-height: 3.2cqi;
  }
  
  .coats-md & img {
    // height: 2rem;
    // width: 2rem;
    // height: 4.2cqi;
    // width: 4.2cqi;
    // line-height: 2rem;
    // line-height: 5.5cqi;
  }
  
  .coats-lg & img {
    // height: 2.5rem;
    // width: 2.5rem;
    // height: 5.5cqi;
    // width: 5.5cqi;
    // line-height: 2.5rem;
    // line-height: 5.5cqi;
  }

  img {
    font-size: 6px;
    transition-delay: 0.1s;
    transition: 0.1s cubic-bezier(0.68, 0, 0.265, 1.30);
    color: #99a2a7;
    height: auto;
    max-height: 80px;
    max-width: none;
    line-height: 28px;
    background-image: radial-gradient(#99a2a7 2px, transparent 2px, transparent);
    background-position: center;
  }

  .coat-sprite {
    display: block;
    height: 80px;
    width: 80px;
    background-repeat: no-repeat;
    transform: scale(0.45);
    transition: 0.3s cubic-bezier(0.68, 0, 0.265, 1.30);
    margin-left: -40px;
    margin-top: -40px;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.2));
  }

  &:hover {
    img {
      height: 100px;
      width: 100px;
      max-height: 100px;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.3));
    }

    .coat-sprite {
      height: 80px;
      width: 80px;
      transform: scale(1) !important;
      filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.2));
    }

    &::before {
      @apply whitespace-nowrap truncate tracking-wider pointer-events-none origin-bottom;

      content: attr(data-title);
      position: absolute;
      bottom: calc(100% + 15px);
      left: 50%;
      transform: translateX(-50%) translateY(30px) scale(0.5);
      transform-origin: top center;
      font-size: 12px;
      max-width: 250px;
      color: black;
      background-color: white;
      border: 1px solid rgb(189, 189, 189);
      border-top-width: 2px;
      padding: 5px 10px;
      border-radius: 2px;
      border-bottom-left-radius: 8px;
      border-bottom-right-radius: 8px;
      font-weight: 600;
      opacity: 0;
      animation: 0.17s slideCoatLabel forwards ease-in;
      animation-delay: 0.3s;
    }
  }

  &.coat--with-sprite {
    width: 0;
    height: 0;

    &:hover::before {
      bottom: calc(100% + 45px);
    }
  }}

@keyframes slideCoatLabel {
  0% {
    opacity: 0;
    transform: translateX(-50%) translateY(30px) scale(0.5);
  }

  100% {
    opacity: 1;
    transform: translateX(-50%) translateY(0) scale(1);
  }
}
