.heraldry-canvas {
  width: auto;

  > svg {
    @apply mx-auto;

    // display: block;
    // height: 40vh;
    // width: auto;

    path {
      fill: #f2f2f2;
      stroke: #d0d0d0;
      stroke-width: 1px;
      transition: 0.3s ease-in-out;
      vector-effect: non-scaling-stroke !important;

      &:hover {
        fill: #fff !important;
      }
    }
  }

  #layer1 path {
    fill: transparent;
    pointer-events: none;
    stroke: #999;
    stroke-width: 1px;

    &:hover {
      fill: transparent !important;
    }
  }
}

.map-section {
  padding-left: 1vw;
  padding-right: 1vw;
  padding-bottom: 1vw;

  &.map-section--large {
    padding-bottom: 100px;
  }
}

.map-wrapper {
  container-type: inline-size;
}

.country-heraldry-footer {
  &.country-heraldry-footer--zoomed {
    width: max-content;
  }
}
