@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3 {
  font-weight: 500;
}
