@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3 {
  font-weight: 500;
}

.hide-scroll {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

.hide-scroll::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
