@mixin sans {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@mixin hoverOnDesktopActiveOnMobile {
  @media (hover: hover) {
    &:hover {
      @content;
    }
  }

  @media (hover: none) {
    &:active {
      @content;
    }
  }
}
