.cookies-pane {
  transform: scale(0.9) translateY(250px);
  animation: slideInCookies 0.2s ease-out forwards;
  animation: slideInCookies 0.7s cubic-bezier(0.68, -0.55, 0.265, 1.2) forwards;
  animation-delay: 0.7s;
  max-width: max(600px, calc(100vw - 24px));
  margin-bottom: 50px;

  @media (min-width: 640px) {
    margin-bottom: 0;
  }
}

@keyframes slideInCookies {
  0% { transform: scale(0.9) translateY(250px); }
  100% { transform: scale(1) translateY(0); }
}