.heraldry-canvas {
  container-type: inline-size;

  .map-intro {
    position: absolute;
    z-index: 20;
    top: 34%;
    right: 54%;
    font-size: 0.20cqi;
    color: #aca4a4;

    strong {
      color: #8a8181;
    }

    a {
      color: #8a8181;
      transition: color 0.3s ease-in-out;

      &:hover {
        color: black;
      }
    }

    .map-title {
      font-size: 0.5cqi;
    }
  }

  .map-svg {
    filter: drop-shadow(0 15px 5px #dfdfdf);

    path {
      fill: white !important;
      transition: 0.1s ease-in-out;

      &:hover {
        fill: #dbdbdb !important;
      }
    }

    // Countries stroke
    [stroke="#644545"] {
      stroke: #b4bfaf !important;
    }

    #ocean {
      fill: #d9e4e6  !important;
    }
  }

  canvas {
    pointer-events: none;
    filter: drop-shadow(0 3px 5px rgba(96, 94, 92, 0.27));
  }
}
