.heraldry-cursor-wrapper {
  pointer-events: none;
  // opacity: 1 !important;

  // top: 420px !important;
  // left: 420px !important;
}

.heraldry-cursor {
  display: block;
  position: relative;
  width: 14px;
  height: 14px;
  border-radius: 12px;
  border-top-left-radius: 3px;
  background-color: #ff9676;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.18) 0px 1px 2px 0px;
  background-color: white;
  border: 1px solid #aa0d0d;
  transition: 0.12s ease-in-out;

  .map-wrapper:active & {
    border-radius: 50px;
  }

  .heraldry-cursor-wrapper--without-content & {
    border-color: #d0d0d0;
    box-shadow: 0 3px 14px -5px #ee9b7bc4, 0 7px 3px -6px #d9b7aac4;
  }
}

.heraldry-cursor-marker {
  text-align: center;
  padding: 0 4px;
  background-color: #aa0d0d;
  color: white;
  font-size: 10px;
  min-width: 15px;
  height: 15px;
  line-height: 15px;
  border-radius: 10px;
  border-bottom-right-radius: 2px;
  position: absolute;
  bottom: calc(100% + 4px);
  right: calc(100% + 4px);
  font-weight: 500;
  letter-spacing: 0.08em;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.18) 0px 1px 2px 0px;
  transition: 0.12s ease-in-out;
  transform-origin: top left;
  animation: 0.3s heraldryCursorMarker forwards ease-in;

  .map-wrapper:active & {
    bottom: calc(100% + 1px);
    right: calc(100% + 1px);
  }
}

@keyframes heraldryCursorMarker {
  0% {
    font-size: 15px;
    opacity: 0;
    transform: scale(0) translate(-50px, -50px);
  }

  70% {
    opacity: 1;
    transform: scale(1.3) translate(0, 0);
  }

  100% {
    font-size: 10px;
    opacity: 1;
    transform: scale(1) translate(0, 0);
  }
}

