.ui-pane {
  @apply p-1 md:p-2 flex flex-col gap-2 rounded-md;
  
  border: 1px solid #e6c5c5;
  background: rgba(255, 255, 255, 0.73);
  -webkit-backdrop-filter: blur(8px) saturate(1.5) contrast(0.7);
  backdrop-filter: blur(8px) saturate(1.5) contrast(0.7);
  max-width: calc(100vw - 80px);
  box-shadow: 0 3px 14px -5px #f4f3f2c4, 0 7px 3px -6px #d7d7d7c4;

  > .border-t {
    border-color: #e6c5c5;
  }
}

.ui-pane--magic {
  border-color: #be5443c4;
  box-shadow: 0 3px 14px -5px #ee9b7bc4, 0 7px 3px -6px #d9b7aac4;
  background-image: radial-gradient(at right, #dec9c900 0, #f1770e7d, #c225c033 100%);
  background-size: auto 100%;
  background-position: 100%;
  background-size: 200% 500px;
  background-position: 0 0;

  > .border-t {
    border-color: #be5443c4;
  }
}

.ui-pane-magic-border {
  border: 1px solid #eac6a8;
  box-shadow: 0 3px 14px -5px #ee9b7bc4, 0 7px 3px -6px #d9b7aac4;

  > .border-t,
  > .border-l {
    border-color: #eac6a8;
  }
}
